// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import '~@fortawesome/fontawesome-free/css/all.css';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
